.avatar {
    width: 50px;
    margin-right: 10px; margin-bottom: 10px;
}
.avatar-large {
  width: 100px;
}
.repo_row {
  cursor: pointer;
}

/* Extend UIKit */
.uk-margin-bottom-small {
  margin-bottom: 10px !important;
}
.uk-margin-right-small {
  margin-bottom: 10px !important;
}
.uk-label a {
  color: #fff;
  text-decoration: none;
}
