RewriteEngine Off
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

#index redirect
RewriteRule ^/(.*)$ index.php [NC]

#projects listing
RewriteRule ^projects projects.php [NC]
RewriteRule ^projects/(.*)$ projects.php?page=$1 [NC]

#org page
RewriteRule ^org/(.*)$ org.php?name=$1 [NC]

#project page
RewriteRule ^project/(.*)$ project.php?id=$1 [NC]
